<div class="card">
  <div class="py-3 w-100" style="
  background-color: #b4009e;
    height: 9rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  "></div>
  <div class="position-relative h-100" style="margin-top: -4.5rem;">
    <div class="w-50 mx-auto position-relative">
      <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image">
    </div>
  </div>
  <div class="card-body">
    <div class="text-center">
      <h5 class="card-title semibold mb-2 pb-1">Jim Lohan</h5>
      <p class="card-subtitle semibold mb-2">UX Designer</p>
      <p class="card-text mb-4 pb-1">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est, deserunt.
      </p>
    </div>
    <ul class="ps-2 mb-1">
      <li class="d-flex justify-content-between mb-1">
        <i class="mi mi-MapPin2"></i>
        <span>Ellsworth , ME</span>
      </li>
      <li class="d-flex justify-content-between mb-1">
        <i class="mi mi-Phone"></i>
        <span>123 456 789</span>
      </li>
      <li class="d-flex justify-content-between mb-0">
        <i class="mi mi-Mail"></i>
        <span>exmaple@exmaple.com</span>
      </li>
    </ul>
  </div>
  <div class="card-footer d-flex justify-content-between py-4">
    <a href="#!" class="d-flex align-items-center">
      <i class="mi mi-instagram mi-lg" style="color: #bf0077;"></i>
    </a>
    <a href="#!" class="d-flex align-items-center">
      <i class="mi mi-dribbble mi-lg" style="color: #e3008c;"></i>
    </a>
    <a href="#!" class="d-flex align-items-center">
      <i class="mi mi-vimeo mi-lg" style="color: #0078d7;"></i>
    </a>
    <a href="#!" class="d-flex align-items-center">
      <i class="mi mi-reddit-alien mi-lg" style="color: #ef6950;"></i>
    </a>
  </div>
</div>